html * {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.bg {
  &--blue {
    background-color: rgb(0, 102, 255);
  }
  &--red {
    background-color: rgb(180, 60, 60);
  }
  &--green {
    background-color: greenyellow;
  }
  &--purple {
    background-color: purple;
  }
  &--orange {
    background-color: rgb(255, 196, 0);
  }
  &--limette {
    background-color: rgb(0, 255, 157);
  }

  &--black {
    background-color: black;
  }
  &--transparent {
    background-color: transparent;
  }
}

.z {
  &--1 {
    z-index: 1;
  }
  &--2 {
    z-index: 2;
  }
  &--3 {
    z-index: 3;
  }
  &--4 {
    z-index: 4;
  }
  &--5 {
    z-index: 5;
  }
}

.alertWindow {
  bottom: 1rem;
  right: 0rem;
  padding: 0.8rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 18rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: white;
  line-height: 150%;
  font-weight: 300;
  background: rgba(196, 9, 9, 0.295);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.component--hide {
  display: none !important;
}

.darkFont {
  color: black !important;
  font-weight: 500 !important;
  @media (max-width: 700px) {
    color: white !important;
    font-weight: 300 !important;
  }
}
