.startScreen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/cardsBackground.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startScreen__logo {
  width: 80%;
  object-fit: contain;
}

.startScreen__click {
  margin-top: 2rem;
  width: 30%;
  object-fit: contain;
  background-color: rgb(34, 34, 34);
  padding: 1.6rem;
  border-radius: 16px;
  transition: all 0.125s ease-in-out;
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
  @media (max-width: 700px) {
    padding: 4% 6% 4% 6%;
  }
}
