.addedPlayerBox {
  height: 5rem;
  width: 5rem;
  margin: 1.6rem;
  border-radius: 16px;
  border: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transform: scale(1.02);
  }
  img {
    height: 4rem;
    width: 4rem;
  }
  @media (max-width: 700px) {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0rem;
    margin: 0.6rem;
    margin-left: 1rem;
  }

  img {
    @media (max-width: 700px) {
      height: 2.5rem;
      width: 2.5rem;
      padding: 0.4rem;
    }
  }
}

.addedPlayerName {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 300;
  width: fit-content;
  height: fit-content;
  @media (max-width: 700px) {
    font-size: 1.2rem;
  }
}

.player-active {
  background-color: aquamarine;
  border-radius: 16px;
}
