.gameCard {
  bottom: 1rem;
  left: 0rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12rem;
  width: 100vw;
  max-width: 100% !important;
  font-family: "Roboto", sans-serif;
  color: white;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);

  @media (max-width: 700px) {
    bottom: 0;
    height: 14rem;
  }

  @media (max-height: 620px) {
    bottom: 0;
    height: 7rem;
  }

  &__title {
    padding: 0.8rem;
    margin: 0;
    font-size: 2.4rem;
    font-weight: 500;
    width: fit-content;
    height: fit-content;

    @media (max-width: 700px) {
      font-size: 2rem;
      line-height: 105%;
      padding-bottom: 0.2rem;
    }

    @media (min-height: 620px) {
      font-size: 1.6rem;
    }
  }

  &__span {
    padding: 0.8rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    width: fit-content;
    height: 4rem;
    line-height: 110%;

    @media (max-width: 700px) {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      line-height: 105%;
    }

    @media (min-height: 620px) {
      font-size: 1.2rem;
      margin-top: 0;
      padding-top: 0;
    }
  }
}
