<div class="game__area">
  <div class="stack">
    <img
      [ngStyle]="{ 'right.px': i * 8 }"
      *ngFor="let c of [1, 2, 3, 4]; let i = index"
      src="assets/cards/card_cover.png"
    />
    <img
      (click)="takeCard()"
      src="assets/cards/card_cover.png"
      class="card__top"
      style="right: 40px"
    />
    <img
      *ngFor="let playedCard of game.playedCards"
      class="card__played"
      src="assets/cards/{{ playedCard }}.png"
    />
    <img
      *ngIf="game.pickCardAnimation"
      src="assets/cards/{{ game.currentCard }}.png"
      class="card__taken"
      style="right: 40px"
    />
  </div>
  <div [class.player--remove]="removeMode" class="player--added z--1">
    <app-player
      *ngFor="let player of game.players; let i = index"
      [name]="player"
      [background]="game.playerBg[i]"
      [playerActive]="i == game.currentPlayer"
      (click)="removePlayer(i)"
    ></app-player>
  </div>
  <app-game-card [card]="game.currentCard"></app-game-card>
  <div id="gameArea"></div>
  <button class="button--restart bg--orange z--5" (click)="restart()"></button>
  <button
    (click)="enableRemove()"
    class="button--remove bg--red z--1"
    [class.component--hide]="!removeButtonEnabled"
  ></button>
  <button
    [class.component--hide]="!addMode"
    class="button--add bg--limette z--1"
    (click)="openAddPlayerDialog()"
  ></button>
  <section
    id="addPlayerArea"
    [class.component--hide]="addPlayerDialog"
    class="player__area--add z--5"
  >
    <div class="player--added__box z--5">
      <div (click)="close()" class="button--close bg--red"></div>
      <div
        id="playerImgBox-{{ playerName }}"
        class="player__img__box {{ playerBg }}"
      >
        <img
          src="https://avatars.dicebear.com/api/bottts/:{{ playerName }}.svg"
        />
      </div>
      <p class="player__name" id="playerName">{{ playerName }}</p>
      <input
        maxlength="10"
        minlength="4"
        class="player__name--input"
        (keyup)="onKey($event)"
      />
      <button (click)="addPlayer()" class="player__button--add">
        Add player
      </button>
      <div class="color--change">
        <div (click)="changeBgBlue()" class="color bg--blue"></div>
        <div (click)="changeBgRed()" class="color bg--red"></div>
        <div (click)="changeBgGreen()" class="color bg--green"></div>
        <div (click)="changeBgPurple()" class="color bg--purple"></div>
        <div (click)="changeBgOrange()" class="color bg--orange"></div>
        <div (click)="changeBgLimette()" class="color bg--limette"></div>
        <div (click)="changeBgBlack()" class="color bg--black"></div>
        <div
          (click)="changeBgTransparent()"
          class="color bg--transparent"
        ></div>
      </div>
    </div>
  </section>
</div>
