<div class="gameArea">
  <div class="cardStack">
    <img
      [ngStyle]="{ 'right.px': i * 8 }"
      *ngFor="let c of [1, 2, 3, 4]; let i = index"
      src="/assets/cards/card_cover.png"
    />
    <img
      (click)="takeCard()"
      src="/assets/cards/card_cover.png"
      class="topCard"
      style="right: 40px"
    />
    <img
      *ngFor="let playedCard of game.playedCards"
      class="played-card"
      src="/assets/cards/{{ playedCard }}.png"
    />
    <img
      *ngIf="pickCardAnimation"
      src="/assets/cards/{{ currentCard }}.png"
      class="takeCard"
      style="right: 40px"
    />
  </div>
  <div [class.user--remove]="removingUserMode" class="addedUser">
    <app-player
      *ngFor="let player of game.players; let i = index"
      [name]="player"
      [background]="game.playerBg[i]"
      [playerActive]="i == game.currentPlayer"
    ></app-player>
  </div>
  <app-game-card></app-game-card>
  <div id="gameArea"></div>
  <button
    (click)="removeUser()"
    class="button--remove bg--red z--5"
    [class.component--hide]="!removeUserPossible"
  ></button>
  <button
    [class.component--hide]="!addUserPossible"
    class="button--add bg--limette z--5"
    (click)="openAddPlayerDialog()"
  ></button>
  <section
    id="addUserArea"
    [class.component--hide]="addPlayerDialog"
    class="addUserArea z--5"
  >
    <div class="addUserContainer z--5">
      <div (click)="close()" class="button--close bg--red"></div>
      <div id="userImgBox-{{ playerName }}" class="userImgBox {{ playerBg }}">
        <img
          src="https://avatars.dicebear.com/api/bottts/:{{ playerName }}.svg"
        />
      </div>
      <p class="userName" id="userName">{{ playerName }}</p>
      <input
        maxlength="10"
        minlength="4"
        class="inputUserName"
        (keyup)="onKey($event)"
      />
      <button (click)="addUser()" class="addUserButton">Add User</button>
      <div class="changeColor">
        <div (click)="changeBgBlue()" class="color bg--blue"></div>
        <div (click)="changeBgRed()" class="color bg--red"></div>
        <div (click)="changeBgGreen()" class="color bg--green"></div>
        <div (click)="changeBgPurple()" class="color bg--purple"></div>
        <div (click)="changeBgOrange()" class="color bg--orange"></div>
        <div (click)="changeBgLimette()" class="color bg--limette"></div>
        <div (click)="changeBgBlack()" class="color bg--black"></div>
        <div
          (click)="changeBgTransparent()"
          class="color bg--transparent"
        ></div>
      </div>
    </div>
  </section>
</div>
